@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* Adjust color as needed */
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

